.App {
  text-align: center;
}

.searchArt {
  max-width: 100%;
  min-height: 100vh;
  padding: calc(24px + 0.75vw) 7.5vw;
}

.searchForm {
  grid-gap: calc(8px + 0.25vw);
  display: flex;
  margin-bottom: calc(8px + 0.25vw);
  padding: calc(24px + 0.75vw) 7.5vw;
}

.searchInput {
  background: linear-gradient(-45deg, #00ba84, #e8fff7, #fff, #fff);
  background-position: 20% 50%;
  background-size: 400% 400%;
  border: 2px solid;
  border-radius: 50px;
  box-sizing: border-box;
  color: #000006;
  flex-basis: 100%;
  min-width: 0;
  padding: calc(15px + 0.25vw);
  text-overflow: ellipsis;
  font-size: 1.2rem;
}

.button {
  border: 2px solid rgba(0, 0, 0, 0.75);
  border-radius: 50px;
  position: relative;
  color: white;
  transition: background-color 250ms;
  cursor: pointer;
}

#searchButton {
  padding-right: calc(10px + 0.25vw);
  width: 25%;
  font-size: 1.2rem;
  background-color: rgba(82, 50, 73, 0.75);
}

#searchButton:hover {
  background-color: rgba(82, 50, 73, 0.95);
}

#showFavoriteButton {
  padding: 8px;
  width: 25%;
  font-size: 1.1rem;
  background-color: rgba(60, 73, 63, 0.75);
  margin-bottom: calc(8px + 0.25vw);
}

#showFavoriteButton:hover {
  background-color: rgba(60, 73, 63, 0.95);
}

#addFavoriteButton {
  padding: 8px;
  width: 70%;
  font-size: 0.8rem;
  background-color: rgba(60, 73, 63, 0.75);
}

#addFavoriteButton:hover {
  background-color: rgba(60, 73, 63, 0.95);
}

.art-container {
  grid-column-gap: calc(8px + 0.25vw);
  grid-row-gap: calc(8px + 0.25vw);
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 1;
  margin-bottom: calc(48px + 1.5vw);
  max-width: 100%;
  min-height: 50vh;
}

.result-object,
.result-object:hover {
  border: 0;
  color: currentColor;
  text-decoration: none;
}
.result-object {
  border-radius: 4px;
  display: block;
  overflow: hidden;
  padding: calc(8px + 0.25vw);
}

img {
  border: solid 2px;
  border-bottom-color: #ffe;
  border-left-color: #eed;
  border-right-color: #eed;
  border-top-color: #ccb;
  max-height: 100%;
  max-width: 100%;
}

.frame {
  background-color: #ddc;
  border: solid 5vmin #eee;
  border-bottom-color: #fff;
  border-left-color: #eee;
  border-radius: 2px;
  border-right-color: #eee;
  border-top-color: #ddd;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25) inset,
    0 5px 10px 5px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  display: inline-block;
  padding: 20px;
  position: relative;
  text-align: center;
}

.result-object .image-container {
  align-items: center;
  display: flex;
  height: 300px;
  justify-content: center;
  margin-bottom: calc(16px + 0.5vw);
  max-width: 100%;
  position: relative;
}

.result-object .image-container img {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
}

.result-object .info {
  grid-row-gap: calc(8px + 0.25vw);
  display: flex;
  flex-direction: column;
  text-align: center;
}

.result-object .info .title {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  font-size: calc(1.125rem + 0.18779vw - 0.70423px);
  font-weight: 600;
  line-height: 1.1;
  max-height: 2.2em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.result-object .info .attribution {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  font-size: calc(0.875rem + 0.18779vw - 0.70423px);
  height: 2em;
  line-height: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 500px) {
  .art-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 700px) {
  .art-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1000px) {
  .art-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
